<mat-card>
    <mat-card-header>
        <mat-card-title>Organizações em Destaque</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-carousel [interval]="5000"  [hideBackArrows]="false" [hideForwardArrows]="false">
            <mat-carousel-slide *ngFor="let slide of slides" [image]="slide.src">
            </mat-carousel-slide>
        </mat-carousel>
    </mat-card-content>
</mat-card>
<div clas="flex">
    <div class="flex-initial w-50">

    </div>
    <div class="flex-initial w-50">

    </div>
</div>
